 <a  name="services"></a>
  <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Liste des Mentor a choisir </h2>
                    <p class="lead">Notre^plateforme vous l'oppoiortunite de choisir otre mentor le plus qualifier pour vous idee pour cela on a developper une liste de  </p>
                    <%= link_to "Trouver un mentor", mentors_path, class: "btn btn-default" %>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <br>
                <br>
                <br>
                    <%= image_tag "list-mentor.png", class: "img-responsive" %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">De l’aide immédiatement</h2>
                    <p class="lead">Les cours particuliers en visioconférence vous permettent de bénéficier de l’accompagnement d’un mentor de haut niveau et parfaitement adapté à vos besoins, quels que soient votre emploi du temps ou votre ville.</p>
                     <%= link_to "Trouver Mentor", root_path, class: "btn btn-default" %>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag 'illustration-carte2.png', class: "img-responsive" %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

 <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Une interface simple et efficace</h2>
                    <p class="lead">LiveMentor propose une expérience d’interaction maximale : nos élèves participent constamment lors du cours et ils adorent ça.Le tableau blanc partagé permet de dessiner des équations mathématiques ou des schémas de physique.La technologie fonctionne aussi bien sur ordinateur que sur tablette, même pour des connexions faibles.</p>
                    <%= link_to "Trouver un mentor", root_path, class: "btn btn-default" %>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <br>
                <br>
                <br>
                    <%= image_tag "macbook.png", class: "img-responsive" %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Accès à tous les documents échangés</h2>
                    <p class="lead">L’ensemble des documents échangés entre le mentor et l'élève durant le cours sont archivés et accessibles en permanence.Suivez vos progrès en retrouvant pour chaque cours, les chapitres travaillés et exercices réalisés.</p>
                    <%= link_to "Trouver un mentor", root_path, class: "btn btn-default" %>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag "illustration-docs.png", class: "img-responsive" %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>